[submodule "lib/ulog"]
	path = lib/ulog
	url = https://github.com/rdpoor/ulog
[submodule "lib/ist8310"]
	path = lib/ist8310
	url = https://github.com/redstonee/ist8310-arduino
[submodule "lib/fatfs"]
	path = lib/fatfs
	url = https://github.com/stm32duino/FatFs
[submodule "lib/sd"]
	path = lib/sd
	url = https://github.com/stm32duino/STM32SD
